@import "../../../styles/colors.scss";

.input-card {
  background: #fff;
  border-radius: 8px;
  width: 95%;
  height: 13rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 5px 8px rgba(0, 0, 0, 0.1);
  .input-section {
    display: flex;
    align-items: center;
    .input-avatar-icon {
      font-size: 44px;
      margin: 1.7rem;
      color: $primary;
      cursor: pointer;
    }
    input {
      width: 86%;
      height: 3rem;
      background: #f1f2f6;
      border-radius: 50px;
      padding: 2.3rem;
      font-size: 1.7rem;
      border: none;
      outline: none;
    }
  }
  .hr {
    width: 93.5%;
    margin-left: 2.5rem;
    opacity: 0.4;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    .options-item {
      display: flex;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
      .media-icon {
        color: #44bf64;
      }
      .tag-person-icon {
        color: #1879f4;
      }
      .feeling-icon {
        color: #fbcd2f;
      }
    }
  }
  .icon {
    font-size: 23px;
    margin-right: 1rem;
  }
}
