@import "../../styles/colors";

.leftbar-container {
  flex: 1;
  .icon-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1.3rem;
    cursor: pointer;
    margin-left: 2.7rem;
    font-weight: 600;
    font-size: 1.7rem;
  }
  .icon {
    font-size: 38px;
    color: $primary;
  }
  .see-more {
    width: 83%;
    text-align: center;
    background-color: #e5e6eb;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.8rem 2rem 2rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  .hr {
    margin-left: 3rem;
    opacity: 0.6;
  }
  //* Bottom section
  .shortcuts {
    .shortcut-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .shortcut-name {
        font-weight: 600;
        margin-left: 3rem;
        margin-top: 1rem;
        font-size: 1.8rem;
      }
      .three-dots {
        font-size: 30px;
        cursor: pointer;
      }
    }
    .shortcut-item {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 1rem;
      margin-left: 2rem;
      margin-bottom: 1.7rem;
      cursor: pointer;
      img {
        width: 38px;
        border-radius: 5px;
        margin-left: 1rem;
      }
    }
  }
}
