* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: #F1F2F6;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}
